*{
    margin: 0px;
    font-family: Roboto Mono;
}
body{
    background-color: black;    
}

/*container*/
.container{ 
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
}

/*left side navigation*/
.navigation_1{ 
    grid-column: 1/6;
}

/*right side navigation*/
.navigation_2{ 
    grid-column: 8/13;
}

.navigation_1, 
.navigation_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    
}
.navigation_1 a,
.navigation_2 a{
    text-decoration: none;
    color: white;
    margin: 0 40px;
    transition: transform 0.3s;
}

/* logo center */
.header{ 
    grid-column: 6/8;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 100px;
    transition: transform 0.3s;
}
.navigation_1 .active{
    color: yellow;
    border-bottom: solid 2px;
}

/* HOVER EFFECT FOR NAVIGATION */
.header img:hover{
    transform: translateY(-3px);
}
.navigation_1 a:hover,
.navigation_2 a:hover
{
    transform: translateY(-3px);
    color: yellow;
    border-bottom: solid 2px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.hamburger-menu div {
    width: 2rem;
    height: 0.35rem;
    background-color: #333; /* or any color you prefer */
}

@media (max-width: 1100px) {
    .hamburger-menu {
        display: flex;
        padding-right: 40px;
    }
    .navigation_1 a, .navigation_2 a {
        display: none;
    }
    .navigation_1{
        grid-column: 3/8;
        grid-row: 1;
    }
    .navigation_2{
        grid-column: 8/13;
        justify-content: right;

    }
    .header{
        grid-column:1/3;
        padding-left: 10px;
    }
    .b_context img {
        height: 300px;
        width: 300px;
    }
}

@keyframes flickFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.about{
    animation: flickFromLeft 1s ease-out; 
}

/*CONTENT*/
.about{
    grid-column: 1 / span 13;
    grid-row: 1 / 1;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    color: yellow;
    font-size: 70px;
    font-weight: bold;
}

.about_text{
    font-size: 17px;
    color: white;
    font-weight: lighter;
    line-height: 2;
    text-align: justify;
}

.img_container{
    display: flex;
    grid-column: 2/12;
    grid-row: 5;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    overflow: hidden;
    position: relative;
    background-color: aliceblue;
    margin-top: 20px;
}
.image{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


/* FOOTER */
.footer{
    grid-column: 1/13;
    grid-row: 2/2;
    background-color: rgb(15, 15, 15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a{
    text-decoration: none;
}

.socmed{
    width: 50%;
    text-align: center;
}
.socmed i{
    font-size: 50px;
    margin: 50px 10px;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}
.socmed p{
    margin-top: 0px;
    margin: 20px 0px;
    font-size: 10px;
}

.socmed i:hover{
    transform: translateY(-5px);
}